<html>
    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio for J. Pell</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="/stylesheets/main.css">
        
    </head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-header animated lightSpeedIn"> 
				Made with <span>Finesse</span></a>
			</div>
			<div class="shadow-effect">
			<ul class="nav navbar-nav navbar-right">
				<li><a data-hover="Home" class="nav-links" href="#">Home</a></li>
				<li><a data-hover="About" class="nav-links" href="#">About</a></li>
				<li><a data-hover="Projects" class="nav-links" href="#">Projects</a></li>
				<li><a data-hover="Contact" class="nav-links" href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>