<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio for J. Pell</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="/assets/stylesheets/main.css">
    </head>
<body>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
<nav class="nav">
	<a href="#" class="brand"><span>finesse</span>Designs</a>
		<div class="shadow-effect">
			
			<ul class="nav-ul">
				<li><a data-hover="Home" class="nav-links" href="/">Home</a></li>
				<li><a data-hover="About" class="nav-links" href="/#about">About</a></li>
				<li><a data-hover="Projects" class="nav-links" href="/projects">Projects</a></li>
				<li><a data-hover="Contact" class="nav-links" href="/contact">Contact</a></li>
			</ul>
		</div>
</nav>
		<a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
