<% include partials/header %>

<header class="hero hero-section" style='background-image: url(https://i.imgur.com/vcrAckL.png); background-repeat: no-repeat;'>
	<div class="hero-content">
		<h1><strong>Hi! I'm <span>Joe</span> A Web Developer</strong></h1>
		<p>Hey my name is Joe and I'm a front-end web developer based out of Philadelphia, PA.</p>
		<p>I enjoy all things code and love to create web applications and sites. I work with many different technologies
			such as Node, React, Mongo as well as some Python and Wordpress. To hear more about me please have a look at my
			about page or you can contact me by following the link below. Thanks for visiting!
		</p>
			<a href="/contact"><button class="contact-btn">Contact Me</button></a>
			<div><a href="#about"><i class="fa fa-angle-down"></i></a></div>
	</div>
</header>
<section class="about-section">
	<div class="about-wrapper">
	<a id="about"></a>
	<h1>About Me</h1>
	<p>Hey I'm Joe and I am a 30 year old developer specializing in front end design.</p>
	<p>	I started writing C++ and HTML in high school but decided to pursue a career in the automotive industry after high school. I went to 
		Lincoln Technical Institue and during my time there found a job at Pepboys. After a few years there I worked my way up to
	assistant manager but unfortunatly had to leave when my daughter was born. During my time working at Pepboys I still
wrote code but didn't have much extra time to really focus on it. Once my daughter became a bit older I started to have more and
more extra time to dedicate to my code. I really enjoyed it and found myself trying to learn everything I could. I've always
thought of development as more of a leisure but made the decision to turn it into a career.</p>
		<p>Below is an estimation of knowledge about some of the technologies I've used.</p>
	<h3>Technologies:</h3>
	<ul class="skill-list">
		<li>HTML <div class="prog-bar"><div id="html-prog"></div><p id="html-percentage"></p></div></li>
		<li>CSS <div class="prog-bar"><div id="css-prog"></div> <p id="css-percentage"></p></div></li>
		<li>Javascript <div class="prog-bar"><div id="javascript-prog"></div> <p id="javascript-percentage"></p></div></li>
		<li>Node <div class="prog-bar"><div id="node-prog"></div> <p id="node-percentage"></p></div></li>
		<li>React <div class="prog-bar"><div id="react-prog"></div> <p id="react-percentage"></p></div></li>
		<li>MongoDB <div class="prog-bar"><div id="mongo-prog"></div> <p id="mongo-percentage"></p></div></li>
		<li>Wordpress <div class="prog-bar"><div id="wordpress-prog"></div> <p id="wordpress-percentage"></p></div></li>
		<li>Python <div class="prog-bar"><div id="python-prog"></div> <p id="python-percentage"></p></div></li>
		<li><p>Various other Javascript and Python libraries</p></li>
	</ul>
</div>
</section>
<hr>




<% include partials/footer %>
