<% include partials/header %>

<div class="container">
<div class="jumbotron">
	<div class="container node-img">
	</div>
	<h1>Hello, I'm Joe <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/590px-Node.js_logo.svg.png" alt="node.js logo"></h1>
	<p>Full stack web developer. Experienced using Node.js with Express.</p>
		<p>Good practical experience in UX/UI design along with databases and authentication using MongoDB and Passport.</p>
</div>
	</div>
<div class="container">
	<div class="jumbotron about-cont">
	<h1>About Me</h1>
	<p>Hey guys I'm Joe a 30 year old self taught developer specializing in the MEAN stack. I have experience developing with tools like Node, Express, MongoDB, Angular and React. I am also familiar with Python and Django. I love what I do and really try to put my all into my work. I have 2 amazing kids that I spend the rest of my time with when I'm not developing.</p>
		<hr>
<div class="proj-cont">
		<h1>Projects</h1>
		<div class="row">
			<div class="col-md-3">
			    <div class="thumbnail">
			        <img src="https://i.imgur.com/W6z6m3s.png"></img>
			        <div class="content">
			            <h3>YelpCamp</h3>
			            <p>Fully functional website including authentication and authorization, Google Maps API, ability to create, read, update and destroy campgrounds and comments as well as admin access</p>
			        </div>
			    </div>
			</div>
			<div class="col-md-3">
			    <div class="thumbnail">
			        <img src="https://i.imgur.com/9SHi8gr.png"></img>
			        <div class="content">
			            <h3>Patatap Clone</h3>
			            <p>Patatap clone using howler.js for audio and paper.js to draw on the canvas. Listens for keystrokes to play different sounds and add circles to the canvas.</p>
			        </div>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
			        <img src="https://i.imgur.com/3eiQcEp.png"></img>
			        <div class="content">
			            <h3>RGB Color Game</h3>
			            <p>RGB color game made with HTML, CSS and JS</p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	</div>
	
<% include partials/footer %>