<% include partials/header %>
<section class="projects-section">
	<a id="projects"></a>
		<div class="proj-heading">
			<h1>Projects</h1>
			<p>Here are a few projects I have done recently. Some are more complex then others and use different technologies. Yelpcamp is the most in depth and has been deployed. Please click on the pictures to visit
			the webpage or webpage preview.</p>
		</div>
<div class="project-wrapper">
    <figure class="imghvr-shutter-out-diag-2 large figure-wrapper">
      <img class="project-img" src="https://i.imgur.com/W6z6m3s.png" alt="image of website yelpcamp">
      <figcaption>
        <h3 class="ih-fade-down ih-delay-sm ">Yelpcamp</h3>
        <p class="ih-zoom-in ih-delay-md">
          <i>"Fully functional website including authentication and authorization, Google Maps API, ability to create, read, update and destroy campgrounds and comments as well as admin access"</i>
        </p>
        <button class="project-btn" href="https://quiet-peak-73683.herokuapp.com/">Visit</button
      </figcaption>
    </figure>
    
 <figure class="imghvr-shutter-out-diag-2 small figure-wrapper">
      <img class="project-img" src="https://i.imgur.com/3eiQcEp.png" alt="image of website RGB color game">
      <figcaption>
        <h3 class="ih-fade-down ih-delay-sm ">RGB Color Game</h3>
        <p class="ih-zoom-in ih-delay-md">
          <i>"RGB color game made with HTML, CSS and JS with difficulty choice"</i>
        </p>
        <button class="project-btn" href="http://htmlpreview.github.io/?https://github.com/f1nesse13/The-Great-RGB/blob/master/index.html">Visit</button
      </figcaption>
    </figure>

<figure class="imghvr-shutter-out-diag-2 small figure-wrapper">
      <img class="project-img" src="https://i.imgur.com/9SHi8gr.png" alt="image of website Patatap Clone">
      <figcaption>
        <h3 class="ih-fade-down ih-delay-sm ">Patatap Clone</h3>
        <p class="ih-zoom-in ih-delay-md">
          <i>"Patatap clone using howler.js for audio and paper.js to draw on the canvas. Listens for keystrokes to play different sounds and add circles to the canvas."</i>
        </p>
        <button class="project-btn" href="https://github.com/f1nesse13/patatapClone">Github Repo</button
      </figcaption>
    </figure>

<figure class="imghvr-shutter-out-diag-2 large figure-wrapper">
      <img class="project-img" src="https://i.imgur.com/mUWWb2L.jpg" alt="image of website burger builder">
      <figcaption>
        <h3 class="ih-fade-down ih-delay-sm">Burger Builder</h3>
        <p class="ih-zoom-in ih-delay-md">
          <i>"React app where you can build a burger by adding or removing ingredients then get a price and checkout. Still in development
          currently working on the checkout portion and navigation.'</i>
        </p>
        <button class="project-btn" href="https://github.com/f1nesse13/burger-builder">Github Repo</button
      </figcaption>
    </figure>

<figure class="imghvr-shutter-out-diag-2 large figure-wrapper">
      <img class="project-img" src="https://i.imgur.com/PGG8RNA.jpg" alt="image of flexbox template">
      <figcaption>
        <h3 class="ih-fade-down ih-delay-sm">Responsive Flexbox Template</h3>
        <p class="ih-zoom-in ih-delay-md">
          <i>"A responsive template built with flexbox. Recreated from a template seen online."</i>
        </p>
        <button class="project-btn" href="https://htmlpreview.github.io/?https://github.com/f1nesse13/flexbox-template1/blob/master/index.html">Visit</button
      </figcaption>
    </figure>

<figure class="imghvr-shutter-out-diag-2 small figure-wrapper">
      <img class="project-img" src="https://i.imgur.com/bU2qHXB.png" alt="image of photo gallery website">
      <figcaption>
        <h3 class="ih-fade-down ih-delay-sm">Greyscale Photo Gallery</h3>
        <p class="ih-zoom-in ih-delay-md">
          <i>"Minimalist and stylish photo gallery built with Bootstrap"</i>
        </p>
        <button class="project-btn" href="http://htmlpreview.github.io/?https://github.com/f1nesse13/greyscaleIG/blob/master/greyScaleIG.html">Visit</button
      </figcaption>
    </figure>
    </section>
<% include partials/footer %>       