<% include partials/header %>


		<div class="project-imgs">
				<figure class="large">
				<a class="colors" href="https://quiet-peak-73683.herokuapp.com/"><div class="colors"><img class="portfolio-image colors" src="https://i.imgur.com/W6z6m3s.png"></img></div></a>
				<h3>YelpCamp</h3>
				<figcaption>Fully functional website including authentication and authorization, Google Maps API, ability to create, read, update and destroy campgrounds and comments as well as admin access</figcaption>
		</figure>
			<figure class="small">       
				<a href="https://github.com/f1nesse13/patatapClone"><img class="portfolio-image" src="https://i.imgur.com/9SHi8gr.png"></img></a>
				<h3>Patatap Clone</h3>
				<figcaption>Patatap clone using howler.js for audio and paper.js to draw on the canvas. Listens for keystrokes to play different sounds and add circles to the canvas.</figcaption>
			</figure>   
			<figure class="small">
				<a href="http://htmlpreview.github.io/?https://github.com/f1nesse13/The-Great-RGB/blob/master/index.html"><img class="portfolio-image" src="https://i.imgur.com/3eiQcEp.png"></img></a>
				<h3>RGB Color Game</h3>
				<figcaption>RGB color game made with HTML, CSS and JS</figcaption>
			</figure>
			<figure class="large">    
				<a href="http://htmlpreview.github.io/?https://github.com/f1nesse13/To-Do_list/blob/master/index.html"><img class="portfolio-image" src="https://i.imgur.com/PXcjW8c.png"></img></a>
				<h3>To Do List</h3>
				<figcaption>Simple to do list with the ability to add, edit and delete to do's</figcaption>
			</figure>
			<figure class="large">     
				<a href="http://htmlpreview.github.io/?https://github.com/f1nesse13/simple-blog/blob/master/firstBlog.html"><img class="portfolio-image" src="https://i.imgur.com/k7W7FMX.png"></img></a>
				<h3>Blog</h3>
				<figcaption>Simple blog site with sample text</figcaption>
			</figure>
			<figure class="small">
				<a href="http://htmlpreview.github.io/?https://github.com/f1nesse13/greyscaleIG/blob/master/greyScaleIG.html"><img class="portfolio-image" src="https://i.imgur.com/bU2qHXB.png"></img></a>
				<h3>Greyscale Photo Gallery</h3>
				<figcaption>Minimalist and stylish photo gallery built with HTML and CSS</figcaption>
			</figure>
				<figure class="large">
				<a href="http://htmlpreview.github.io/?https://github.com/f1nesse13/imageGallery1/blob/master/BSimageGallery.html"><img class="portfolio-image" src="https://i.imgur.com/BbRoJAl.png"></img></a>
				<h3>Simple Photo Gallery</h3>
				<figcaption>Simple photo gallery built with Bootstrap</figcaption>
				</figure>
	    </div>
    </div>
</section>


<% include partials/footer %>