body {
	font-family: Raleway;
	font-weight: 300;
	background-color: #333;
}
.navbar-inverse {
	border-bottom: 1px solid #eee;
}
a.navbar-header {
	font-size: 30px;
	text-decoration: none;
	color: #eee;
	font-weight: 400;
}
span {
	color: #c60000
}
ul {
	list-style: none;
	font-size: 1.5em;
}
.shadow-effect a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.shadow-effect a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.shadow-effect a:hover::before,
.shadow-effect a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}

.navbar ul.nav li .nav-links {
	color: #eee;
	display: inline-block;
	position: relative;
}
.node-img {
	padding: 0;
	display: inline;
}
.jumbotron, .about-cont {
	z-index: 1;
	margin-top: 6%;
	color: #000;
	background-color: #e7e7e7;
	box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 7px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.img-responsive {
	float: right;
	max-width: 300px;
	max-height: 300px;
}

.about-cont {
	font-size: 3em;
	color: #000;
	background-color: #e7e7e7;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.proj-cont {
	margin-top: 50px;
}